.app-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-app);
}

/* Main Container */
.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.page-content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--bg-surface);
}